@model OnlineLibrary.Models.Book

@{
    ViewBag.Title = "Details";
}

    <div class="container" style="padding:30px 0px 15px 0px; font-size:medium">
        <h2>Details</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BookName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Publisher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Language)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Language)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </p>

    </div>


